 button.generate-maze {
    flex-shrink: 1 !important; 
    flex: unset !important;
    margin: 5px 4px 3px 3px !important;
}

#fgen-mazegen .form-group {
    margin: 10px
}

#fgen-mazegen .window-content {
    overflow: unset
}

.fgen-header-footer {
    height: 35px; 
    display: flex
}


img.fgen-card {
    border: none;
    height: 250px;
    width: 179.4px;
}

img.zoom {
    transition: transform .2s ease;
}
.zoom:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
.zoom.right {
    transform-origin: right;
}
.zoom.left {
    transform-origin: left;
}

.fgen-questcards {
    font-size: 1.1em;
    text-align: center;
    height: 315px;
    display: flex;
    justify-content: space-between;
}

.fgen-reroll {
    height:20px; 
    border: 1px solid black;
    border-radius: 7px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}

.fgen-reroll-all {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2em;
    border: 1px solid black;
    border-radius: 16px;
    width: 200px;
}

.fgen-journal-export {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.75em;
    border: 1px solid black;
    border-radius: 16px;
    width: 300px;
}