<div>
<div class="form-group fgen-mazegen">
    <label>Scene Name</label><input type='text' value='Maze' maxlength="100" name='scene_name' />
    
    <div style="float:left;width:50%;">    
        <label>X Grid Cells</label><input class="x-input" type="number" min="2" max="320" value="10" name="x_size" />
    </div>
    
    <div style="float:right;width:50%;">
        <label>Y Grid Cells</label><input class="y-input" type="number" min="2" max="320" value="10" name="y_size" />
    </div>
    
    <label>Grid Size</label><input type='number' value='100' name='grid_size' />
</div>
<div class="form-group fgen">
    <label>Wall Density <i class='fas fa-info-circle' title="Left a more sparse maze, right for a more dense maze"></i></label><input type="range" min="0" max="10" value="3" name="sparseness" style="direction: rtl" />
    <label>Invisible Walls</label><input type='checkbox' name='invisible' />
    <div style="float:right;width:50%">
        <label for="image">Wall Image</label>
        <select name="image" id="image">
            <option value="none">None</option>
            <option value="background">Normal</option>
            <option value="foreground">Overhead</option>
        </select>
    </div>
</div>
<button type="submit" class="generate-maze">Generate</button>
</div>