<div>
    <div class="fgen-header-footer">
        <div class="fgen-reroll-all">{{localize "FGEN.questhook.reroll_all"}}</div>
    </div>
    <hr/>
    <div class="fgen-questcards">
        <div data-type="problem">
            <strong>{{localize 'FGEN.questhook.cards.problem'}}</strong><br/>
            {{problem.name}}<br/>
            <img class="fgen-card zoom left" src="{{problem.art}}"/>
            <div class="fgen-reroll">{{localize "FGEN.questhook.reroll"}}</div>
        </div>
        <div data-type="antagonist">
            <strong>{{localize 'FGEN.questhook.cards.antagonist'}}</strong><br/>
            {{antagonist.name}}<br/>
            <img class="fgen-card zoom" src="{{antagonist.art}}" />
            <div class="fgen-reroll">{{localize "FGEN.questhook.reroll"}}</div>
        </div>
        <div data-type="location">
            <strong>{{localize 'FGEN.questhook.cards.location'}}</strong><br/>
            {{location.name}}<br/>
            <img class="fgen-card zoom" src="{{location.art}}" />
            <div class="fgen-reroll">{{localize "FGEN.questhook.reroll"}}</div>
        </div>
        <div data-type="helper">
            <strong>{{localize 'FGEN.questhook.cards.helper'}}</strong><br/>
            {{helper.name}}<br/>
            <img class="fgen-card zoom" src="{{helper.art}}" />
            <div class="fgen-reroll">{{localize "FGEN.questhook.reroll"}}</div>
        </div>
        <div data-type="solution">
            <strong>{{localize 'FGEN.questhook.cards.solution'}}</strong><br/>
            {{solution.name}}<br/>
            <img class="fgen-card zoom right" src="{{solution.art}}" />
            <div class="fgen-reroll">{{localize "FGEN.questhook.reroll"}}</div>
        </div>
    </div>
    <hr/>
    <div class="fgen-header-footer">
        <div class="fgen-journal-export image">{{localize "FGEN.questhook.save_image"}}</div>
        <div style="min-width: 250px"><input type="text" name="journal-name" placeholder="Randomly generated quest hook title"></div>
        <div class="fgen-journal-export text">{{localize "FGEN.questhook.save_text"}}</div>
    </div>
</div>